{
  mainBox:
    height: 411
    _isVisible: true

  workspaces:
    workspaces: [
      name: "Slides"
      propHolders: [
        {
          id: "no-id-TDK-Title 1-Opacity"
          _expanded: true
          actorPropId: "no-id-TDK-Title 1-Opacity"
          _height: 162
        }
        {
          id: "no-id-TDK-Title 1-Scale"
          _expanded: true
          actorPropId: "no-id-TDK-Title 1-Scale"
          _height: 143
        }
        {
          id: "no-id-TDK-Content-n"
          _expanded: true
          actorPropId: "no-id-TDK-Content-n"
          _height: 80
        }
      ]
    ]
    _activeWorkspaceName: "Slides"

  timeControl:
    t: 208692.39631449193
    _focus:
      from: 203960.42053764104
      to: 211733.2192363858

    _lastPlayedTickAt: 0

  timeline:
    _allProps:
      "no-id-Slides-Slides-Number":
        pacs:
          _idCounter: 5
          chronologyLength: 128496.02055099448
          chronology:
            points: [
              {
                t: 45.13373243459553
                value: 0.4309034752741195
                id: "no-id-Slides-Slides-Number-point-0"
                handler: [
                  12.679424285888672
                  0.06586328148841858
                  14.473682403564453
                  0.13172656297683716
                ]
              }
              {
                t: 6166.2080817851565
                value: 1
                id: "no-id-Slides-Slides-Number-point-1"
                handler: [
                  8.492820739746094
                  0.38511258363723755
                  10.885165214538574
                  0.40351417660713196
                ]
              }
              {
                t: 39682.612313151905
                value: 2
                id: "no-id-Slides-Slides-Number-point-2"
                handler: [
                  100
                  0.10707789659500122
                  100
                  0.10707789659500122
                ]
              }
              {
                t: 54645.60007547708
                value: 3
                id: "no-id-Slides-Slides-Number-point-3"
                handler: [
                  100
                  0.19012318551540375
                  100
                  0.19012318551540375
                ]
              }
              {
                t: 120517.20627851396
                value: 4
                id: "no-id-Slides-Slides-Number-point-4"
                handler: [
                  100
                  0.2827067971229553
                  100
                  0.2827067971229553
                ]
              }
              {
                t: 128496.02055099448
                value: 5
                id: "no-id-Slides-Slides-Number-point-5"
                handler: [
                  100
                  0.4046192467212677
                  100
                  0.4046192467212677
                ]
              }
            ]
            connectors: []

      "no-id-More Tools - 1-More-Prog":
        pacs:
          _idCounter: 2
          chronologyLength: 179036.9949318114
          chronology:
            points: [
              {
                t: 131793.3203200224
                value: 0
                id: "no-id-More Tools - 1-More-Prog-point-0"
                handler: [
                  100
                  -1.5
                  100
                  -1.5
                ]
              }
              {
                t: 179036.9949318114
                value: 100
                id: "no-id-More Tools - 1-More-Prog-point-1"
                handler: [
                  100
                  -1.631250023841858
                  100
                  -1.631250023841858
                ]
              }
            ]
            connectors: [
              t: 131793.3203200224
              id: "no-id-More Tools - 1-More-Prog-connector-2"
            ]

      "no-id-Batman-THE DARK KNIGHT-Prog":
        pacs:
          _idCounter: 57
          chronologyLength: 209919.97958547855
          chronology:
            points: [
              {
                t: 207858.4818256992
                value: 0
                id: "no-id-Batman-THE DARK KNIGHT-Prog-point-0"
                handler: [
                  765.4802856445312
                  0.7997983694076538
                  0
                  3.8967316150665283
                ]
              }
              {
                t: 209633.7999101832
                value: 1.5
                id: "no-id-Batman-THE DARK KNIGHT-Prog-point-1"
                handler: [
                  1774.8475341796875
                  0.8602797985076904
                  71.7129898071289
                  -1.0726698637008667
                ]
              }
              {
                t: 209919.97958547855
                value: 0
                id: "no-id-Batman-THE DARK KNIGHT-Prog-point-17"
                handler: [
                  185.40521240234375
                  0.02508387714624405
                  0
                  -0.016429757699370384
                ]
              }
            ]
            connectors: [
              {
                t: 207858.4818256992
                id: "no-id-Batman-THE DARK KNIGHT-Prog-connector-57"
              }
              {
                t: 209633.7999101832
                id: "no-id-Batman-THE DARK KNIGHT-Prog-connector-34"
              }
            ]

      "no-id-Batman-Director-Prog":
        pacs:
          _idCounter: 39
          chronologyLength: 212381.10364379542
          chronology:
            points: [
              {
                t: 210217.53839163357
                value: -0.05148525752251676
                id: "no-id-Batman-Director-Prog-point-18"
                handler: [
                  610.5960083007812
                  -0.47128722071647644
                  0
                  1.5961112976074219
                ]
              }
              {
                t: 211973.48362144027
                value: 1
                id: "no-id-Batman-Director-Prog-point-17"
                handler: [
                  1667.764892578125
                  0.29464149475097656
                  0
                  -0.8013705611228943
                ]
              }
              {
                t: 212381.10364379542
                value: -0.07713475778921326
                id: "no-id-Batman-Director-Prog-point-27"
                handler: [
                  333.5391845703125
                  0.01387554407119751
                  100
                  -0.007713475730270147
                ]
              }
            ]
            connectors: [
              {
                t: 210217.53839163357
                id: "no-id-Batman-Director-Prog-connector-39"
              }
              {
                t: 211973.48362144027
                id: "no-id-Batman-Director-Prog-connector-37"
              }
            ]

      "no-id-Batman-Screen-Prog":
        pacs:
          _idCounter: 22
          chronologyLength: 214745.7488962123
          chronology:
            points: []
            connectors: []

      "no-id-Batman-Story2-Prog":
        pacs:
          _idCounter: 2
          chronologyLength: 219353.12514617248
          chronology:
            points: []
            connectors: []

      "no-id-Batman-Story1-Prog":
        pacs:
          _idCounter: -1
          chronologyLength: 217074.4779751901
          chronology:
            points: []
            connectors: []

      "no-id-Project-Github-Opacity":
        pacs:
          _idCounter: 12
          chronologyLength: 208534.83221462104
          chronology:
            points: [
              {
                t: 207746.1867080407
                value: -0.9915282141320324
                id: "no-id-Project-Github-Opacity-point-0"
                handler: [
                  100
                  0.05999999865889549
                  32.52217102050781
                  2.8511385917663574
                ]
              }
              {
                t: 208534.83221462104
                value: 1
                id: "no-id-Project-Github-Opacity-point-1"
                handler: [
                  787.6925659179688
                  -0.007253889925777912
                  100
                  0.0050999997183680534
                ]
              }
            ]
            connectors: [
              t: 207746.1867080407
              id: "no-id-Project-Github-Opacity-connector-12"
            ]

      "no-id-TDK-Title 1-Opacity":
        pacs:
          _idCounter: 10
          chronologyLength: 209780.45435014484
          chronology:
            points: [
              {
                t: 207926.69064374967
                value: 0
                id: "no-id-TDK-Title 1-Opacity-point-0"
                handler: [
                  124.3916244506836
                  0.012473137117922306
                  0
                  0.5633909702301025
                ]
              }
              {
                t: 208178.73746347884
                value: 1
                id: "no-id-TDK-Title 1-Opacity-point-2"
                handler: [
                  197.56649780273438
                  0.02316586673259735
                  100
                  0.0026250400114804506
                ]
              }
              {
                t: 209544.6686155595
                value: 1
                id: "no-id-TDK-Title 1-Opacity-point-5"
                handler: [
                  100
                  0.08344829827547073
                  79.67364501953125
                  -0.5553756356239319
                ]
              }
              {
                t: 209780.45435014484
                value: 0
                id: "no-id-TDK-Title 1-Opacity-point-6"
                handler: [
                  144.71798706054688
                  -0.018909448757767677
                  100
                  -0.005383593961596489
                ]
              }
            ]
            connectors: [
              {
                t: 207926.69064374967
                id: "no-id-TDK-Title 1-Opacity-connector-4"
              }
              {
                t: 209544.6686155595
                id: "no-id-TDK-Title 1-Opacity-connector-10"
              }
            ]

      "no-id-TDK-Title 1-Scale":
        pacs:
          _idCounter: 9
          chronologyLength: 209751.99745114316
          chronology:
            points: [
              {
                t: 207926.69064374967
                value: 0.99
                id: "no-id-TDK-Title 1-Scale-point-0"
                handler: [
                  201.63177490234375
                  0.003232670947909355
                  0
                  0.008521060459315777
                ]
              }
              {
                t: 208089.30149518783
                value: 1
                id: "no-id-TDK-Title 1-Scale-point-2"
                handler: [
                  95.93473815917969
                  -0.0003680144436657429
                  124.39161682128906
                  -0.0023731067776679993
                ]
              }
              {
                t: 209528.40753041566
                value: 1
                id: "no-id-TDK-Title 1-Scale-point-4"
                handler: [
                  128.45689392089844
                  -0.001390971476212144
                  112.19580841064453
                  -0.0006272794562391937
                ]
              }
              {
                t: 209751.99745114316
                value: 0.94
                id: "no-id-TDK-Title 1-Scale-point-5"
                handler: [
                  6.498759746551514
                  0.021242402493953705
                  100
                  0.0032796806190162897
                ]
              }
            ]
            connectors: [
              {
                t: 207926.69064374967
                id: "no-id-TDK-Title 1-Scale-connector-3"
              }
              {
                t: 209528.40753041566
                id: "no-id-TDK-Title 1-Scale-connector-8"
              }
            ]

      "no-id-TDK-Content-n":
        pacs:
          _idCounter: 3
          chronologyLength: 208668.0046867762
          chronology:
            points: [
              {
                t: 208375.3051541875
                value: 0
                id: "no-id-TDK-Content-n-point-0"
                handler: [
                  100
                  2.5
                  100
                  2.5
                ]
              }
              {
                t: 208493.19802148017
                value: 1
                id: "no-id-TDK-Content-n-point-1"
                handler: [
                  100
                  0.0625
                  100
                  0.0625
                ]
              }
              {
                t: 208562.3076333414
                value: 25
                id: "no-id-TDK-Content-n-point-2"
                handler: [
                  100
                  0.15000000596046448
                  100
                  0.15000000596046448
                ]
              }
              {
                t: 208668.0046867762
                value: 26
                id: "no-id-TDK-Content-n-point-3"
                handler: [
                  100
                  1.00600004196167
                  100
                  1.00600004196167
                ]
              }
            ]
            connectors: []

  timelineEditor:
    scrollTop: 0
    guides:
      _list: [
        0
        207926.69064374967
        209757.505
      ]
}