{
  mainBox:
    height: 327
    _isVisible: false

  workspaces:
    workspaces: [
      name: "Slides"
      propHolders: [
        id: "no-id-Slides-Slides-Number"
        _expanded: true
        actorPropId: "no-id-Slides-Slides-Number"
        _height: 154
      ]
    ]
    _activeWorkspaceName: "Slides"

  timeControl:
    t: 63552.18344940882
    _focus:
      from: 0
      to: 155122.9937626446

    _lastPlayedTickAt: 0

  timeline:
    _allProps:
      "no-id-Slides-Slides-Number":
        pacs:
          _idCounter: 9
          chronologyLength: 128496.02055099448
          chronology:
            points: [
              {
                t: 45.13373243459553
                value: 0.4309034752741195
                id: "no-id-Slides-Slides-Number-point-0"
                handler: [
                  12.679424285888672
                  0.06586328148841858
                  14.473682403564453
                  0.13172656297683716
                ]
              }
              {
                t: 6166.2080817851565
                value: 1
                id: "no-id-Slides-Slides-Number-point-1"
                handler: [
                  8.492820739746094
                  0.38511258363723755
                  10.885165214538574
                  0.40351417660713196
                ]
              }
              {
                t: 39682.612313151905
                value: 2
                id: "no-id-Slides-Slides-Number-point-2"
                handler: [
                  100
                  0.10707789659500122
                  100
                  0.10707789659500122
                ]
              }
              {
                t: 54645.60007547708
                value: 3
                id: "no-id-Slides-Slides-Number-point-3"
                handler: [
                  100
                  0.19012318551540375
                  100
                  0.19012318551540375
                ]
              }
              {
                t: 67912.69822622958
                value: 0.3872743895596708
                id: "no-id-Slides-Slides-Number-point-7"
                handler: [
                  4738.845703125
                  1.7551875114440918
                  0
                  3.295600414276123
                ]
              }
              {
                t: 77561.4968813223
                value: 2.719899630169887
                id: "no-id-Slides-Slides-Number-point-8"
                handler: [
                  1862.7613525390625
                  -2.3247060775756836
                  100
                  -0.7402814030647278
                ]
              }
              {
                t: 120517.20627851396
                value: 4
                id: "no-id-Slides-Slides-Number-point-4"
                handler: [
                  100
                  0.2827067971229553
                  100
                  0.2827067971229553
                ]
              }
              {
                t: 128496.02055099448
                value: 5
                id: "no-id-Slides-Slides-Number-point-5"
                handler: [
                  100
                  0.4046192467212677
                  100
                  0.4046192467212677
                ]
              }
            ]
            connectors: [
              t: 67912.69822622958
              id: "no-id-Slides-Slides-Number-connector-9"
            ]

  timelineEditor:
    scrollTop: -81
    guides:
      _list: [0]
}