#batmanContainer

	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

	display: flex
	align-items: center
	justify-content: center

.batman-title

	font-size: 46px

	color: #eee

	font-family: "Helvetica LT Std"

	text-align: center

	ul

		list-style: none

		margin: 0
		padding: 0

		font-size: 36px
		line-height: 1.2em
		margin-top: 0.2em
		text-transform: uppercase

		li

			margin: 0
			padding: 0

	h6

		font-weight: normal
		color: #F1F1F1
		font-size: 22px
		// letter-spacing: 2px
		line-height: 0.8em
		margin: 0

	.the-dark-knight

		font-size: 46px
		text-transform: uppercase !important
		letter-spacing: 4px !important