#batmanContainer

	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

	display: flex
	align-items: center
	justify-content: center

.batman-title

	font-size: 46px

	color: #eee

	font-family: Helvetica

	h6

		// color: #F1F1F1
		font-family: Helvetica, Arial, sans-serif
		// font-size: 22px
		// letter-spacing: 2px
		// line-height: 0.8em

	.the-dark-knight

		font-size: 46px
		text-transform: uppercase !important
		letter-spacing: 2px !important